@model PetBucket4.Models.Pet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indoors_safe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indoors_safe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.under13_safe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.under13_safe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
