@model PetBucket4.Models.Appointment 

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines layout to be used-->
}


<div class="row">
    <div class="col-lg-7 large-insert">
        <h1>Booking</h1>

        @*Scripts for validation*@
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <div class="form-horizontal">
                <h4>Appointment</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.number_of_pets, "Number of Pets", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.pet_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pet_id, "", new { @class = "text-danger" })
                    </div>
                </div>


                @* Needs a field here to select your registered pets for the booking *@


                <div class="form-group">
                    @Html.LabelFor(model => model.start_time, "Booking Start", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.start_time, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.start_time, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.end_time, "Booking End", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.end_time, new { htmlAttributes = new { @class = "form-control", @type = "date"} })
                        @Html.ValidationMessageFor(model => model.end_time, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Make this selection decide which relevant fields to show *@
                <div class="form-group">
                    @Html.LabelFor(model => model.service, "Service", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="service" id="service">
                            <option value="basic">Shelter - Basic Service</option>
                            <option value="standard">Shelter - Standard Service</option>
                            <option value="premium">Shelter - Premium Service</option>
                            <option value="toyourdoor">To your door</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inspection_visit_date, "Inspection Visit Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.inspection_visit_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.inspection_visit_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.food, "Special Food/Nutrition Requirements", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.food, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.food, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.entry_instructions, "Entry Instructions", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.entry_instructions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.entry_instructions, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.care_instructions, "Care Instructions", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.care_instructions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.care_instructions, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Booking" class="btn btn-block btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
