@model IEnumerable<PetBucket4.Models.Appointment>

@*@model Tuple<PetBucket4.Models.Appointment, PetBucket4.Models.Pet>
    <!--To identify the above models in the code: Model 1 = Appointment, Model 2 = Pet-->
*@

@{
    ViewBag.Title = "Manage_Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines layout-->
}

<!--Manage bookings page allows satff and users to manage current bookings-->

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Manage Your Bookings</h1>
        <p class="text-center">View and update your current and upcoming bookings with us!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Your Upcoming Bookings</h2>
        @foreach (var item in Model)
        {
            if (item.end_time > DateTime.Now)
            {
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            @Html.LabelFor(model => model.FirstOrDefault().start_time, "Drop-Off Date/Time: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.DisplayFor(modelItem => item.start_time)
                        </p>
                        <br />
                        <p>
                            @Html.LabelFor(model => model.FirstOrDefault().end_time, "Pick-Up Date/Time: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.DisplayFor(modelItem => item.end_time)
                        </p>
                        <br />
                        <p>
                            @Html.LabelFor(model => model.FirstOrDefault().service, "Service: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <span class="capitalize">@Html.DisplayFor(modelItem => item.service)</span>
                        </p>
                            @if(item.start_time < DateTime.Now)
                            {
                               <p>Your pet is currently under our care!</p>
                            }
                        <p>
                            @if (item.start_time < DateTime.Now && item.service == "premium")
                            {
                                @Html.ActionLink("View Livestream", "Livestream", "User", new { area = "" }, new { @class = " btn btn-warning" })
                            }
                        </p>
                        <br />
                        <hr />
                    </div>
                </div>
            }
        }
    </div>
</div>



        
