@model PetBucket4.Models.Pet


@{
    ViewBag.Title = "Select_Pet";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines page layout-->
}

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>Pets</h1>
        <p>
            If you plan to book a basic, standard or premium service please select one of your registered pets by typing their name in the
            box below to continue the booking.
        </p>
        <p>
            If you wish to book a To-Your-Door service then please select the "To-Your-Door" option below.
        </p>

        <!--Begin Form-->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>Select a Pet</h2>
                <p>
                    Type the name of the pet you wish to book a basic, standard or premium service for below. 
                </p>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!--Checks for valid form submission-->

                <div class="form-group">
                    @Html.LabelFor(model => model.name, "Pet Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" }) <!--Checks validation of entry-->
                    </div>
                </div>
            </div>

            <!--Submit button-->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Select Pet" class="btn btn-block btn-primary" />
                </div>
            </div>
        }
        <hr />
        <br />

        <div class="form-horizontal">
            <h2>To-Your-Door</h2>
            <hr />
            <p>Click below to make a "To-Your-Door" booking.</p>
            <p>
                @Html.ActionLink("To-Your-Door Booking", "Booking_TYD", "Booking", new { area = "" }, new { @class = " btn btn-primary" }) <!--Button to Booking_TYD page-->
            </p>
        </div>

<!--Link to register a new pet-->
<div class="form-horizontal">
    <h2>New Pet</h2>
    <hr />
    <p>If you have not yet registered a pet with us, or if you want to register a new pet, click below.</p>
    <p>
        @Html.ActionLink("Register New Pet", "Register_Pet", "Booking", new { area = "" }, new { @class = " btn btn-primary" }) <!--Button to Register_Pet page-->
    </p>
</div>
    </div>
</div>