@model IEnumerable<PetBucket4.Models.Pet>


@{
    ViewBag.Title = "Select_Pet";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines page layout-->
}

<!--Show/hide button script. Not working atm. Take out if needed-->
<script>
function showDiv() {
    var showDiv = document.getElementById("hiddenDiv");
    if (showDiv.style.display === "none")
    {
        showDiv.style.display = "block";
    }
    else
    {
        showDiv.style.display = "none";
    }
}

</script>


<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>Pets</h1>
        <p>Choose which pets you would like to stay with us this booking from a list of your pets
        who have previously stayed with us!
        </p>
        <!--foreach example. Displays each pet's name registered to logged in user-->
        <p>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.name);
            }
        </p>

        <!--Begin Form-->
        <div class="form-horizontal">
            <h2>Select a Pet</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!--Checks for valid form submission-->

            <div class="form-group">
               @* @Html.LabelFor(model => model.name, "Your Pets", htmlAttributes: new { @class = "control-label col-md-2" }) *@<!--Label for dropdown-->
                <div class="col-md-10">
                    <!--Dropdown items-->
                    <select name="pet" id="size">
                        <option value="pet_0">Example Dog</option>
                        <option value="pet_1">Example Cat</option>
                        <option value="pet_3">Example Bird</option>
                    </select>
                </div>
            </div>

            <button onclick="showDiv()" class="btn btn-default">Add a Pet</button>
            <div id="hiddenDiv" class="hiddenDiv">
                <div class="form-group">
                   @* @Html.LabelFor(model => model.name, "Your Pets", htmlAttributes: new { @class = "control-label col-md-2" }) *@<!--Label for dropdown-->
                    <div class="col-md-10">
                        <!--Dropdown items-->
                        <select name="pet" id="size">
                            <option value="pet_0">Example Dog</option>
                            <option value="pet_1">Example Cat</option>
                            <option value="pet_3">Example Bird</option>
                        </select>
                    </div>
                </div>
            </div>

            <button onclick="showDiv()" class="btn btn-default">Add a Pet</button>
            <div id="hiddenDiv" class="hiddenDiv">
                <div class="form-group">
                 @*  @Html.LabelFor(model => model.name, "Your Pets", htmlAttributes: new { @class = "control-label col-md-2" }) *@ <!--Label for dropdown-->
                    <div class="col-md-10">
                        <!--Dropdown items-->
                        <select name="pet" id="size">
                            <option value="pet_0">Example Dog</option>
                            <option value="pet_1">Example Cat</option>
                            <option value="pet_3">Example Bird</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Submit button-->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Select Pet" class="btn btn-block btn-primary" />
                </div>
            </div>
        </div>
        <br />
        <!--Link to register a new pet-->
        <div class="form-horizontal">
            <h4>New Pet</h4>
            <hr />
            <p>If you have not yet registered a pet with us, or if you want to register a new pet, click below.</p>
            <p>
                @Html.ActionLink("Register New Pet", "Register_Pet", "Booking", new { area = "" }, new { @class = " btn btn-primary" }) <!--Button to Register_Pet page-->
            </p>
        </div>
    </div>
</div>