@{
    ViewBag.Title = "Home Page";
}

<!--Main div on index page-->
<div class="jumbotron insert">
    <h1>PetBucket</h1>
   <p> PetBucket is a pet boarding service designed with your convenience in mind. Choose from 3 fantastic levels of service and leave your pet with us 
    so that you can take that long-awaited holiday. 
    Don't want to drop your pets off? We'll even come to you and take care of your pets in your home while you're gone.</p>
    <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p> <!--Links to Services page-->
</div>

<!--New row-->
<div class="row">
    <!--First div from left-->
    <div class="col-md-4 index-small-insert">
        <h2>Basic Service</h2>
        <p> 
            Placeholder
        </p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = " btn btn-default" })</p> <!--Links to Services page-->
    </div>
    <!--Second div from left-->
    <div class="col-md-4 index-small-insert">
        <h2>Standard Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = " btn btn-default" })</p> <!--Links to Services page-->
    </div>
    <!--Third div from left-->
    <div class="col-md-4 index-small-insert">
        <h2>Premium Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = " btn btn-default" })</p> <!--Links to Services page-->
    </div>
</div>

<!--New row-->
<div class="row">
    <!--Page-spanning div-->
    <div class="col-md-12 large-insert">
        <h2 style="padding-top:20px">To-Your-Door Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p> <!--Links to Services page-->
    </div>
</div>