@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron insert">
    <h1 class="text-center">PetBucket</h1>
   <p> PetBucket is a pet boarding service designed with your convenience in mind. Choose from 3 fantastic levels of service and leave your pet with us 
    so that you can take that long-awaited holiday. 
    Don't want to drop your pets off? We'll even come to you and take care of your pets in your home while you're gone.</p>
    <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4 small-insert">
        <h2>Basic Service</h2>
        <p> 
            Placeholder
        </p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = " btn btn-default" })</p>
    </div>
    <div class="col-md-4 small-insert">
        <h2>Standard Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = " btn btn-default" })</p>
    </div>
    <div class="col-md-4 small-insert">
        <h2>Premium Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = " btn btn-default" })</p>
    </div>
</div>

<div class="row">
    <div class="col-md-11 large-insert">
        <h2>To-Your-Door Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>