
@{
    ViewBag.Title = "My_Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">My Account</h1>
        @if (Session["UserId"] != null)
        {
            <p class="text-center">Hello @Session["Username"].ToString()</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Bookings</h2>
        <p>Manage your current bookings or create a new booking.</p>
        <p>@Html.ActionLink("Manage Bookings", "Manage_Bookings", "Home", new { area = "" }, new { @class = " btn btn-primary" })
        @Html.ActionLink("Make a New Booking", "Booking", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>

<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Your Pets</h2>
        <p>See the most recent photos or videos of your pet, uploaded daily by our staff, or watch our livestream, available 24/7, and see what your pet is doing in real time.</p>
        <p>@Html.ActionLink("Check on Your Pets", "Your_Pets", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>

<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Account Details</h2>
        <p>View and update your account details.</p>
        <p>@Html.ActionLink("Account Details", "#", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>
