@model PetBucket4.Models.Customer


@{
    ViewBag.Title = "Account_Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines page layout-->
}

    <!--New row-->
    <div class="row">
        <!--Main insert-->
        <div class="col-lg-7 large-insert">
            <h1>My Account Details</h1>
            <!--Fields need to be filled with user's info-->
            <div class="edit">
                <p>First Name: </p>
                <p>Surname: </p>
                @Html.ActionLink("Edit Name", "Edit_Name", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>
            <div class="edit">
                <p>Date of Birth:</p>
            </div>
            <div class="edit">
                <p>Home Phone: </p>
                <p>Mobile Phone: </p>
                @Html.ActionLink("Edit Mobile Phone", "Edit_Mobile", "User", new { area = "" }, new { @class = " btn btn-primary" })
                @Html.ActionLink("Edit Home Phone", "Edit_HomeP", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>
            <div class="edit">
                <p>Unit No. </p>
                <p>Street No.</p>
                <p>Street Name: </p>
                <p>Suburb/City: </p>
                <p>State: </p>
                <p>Postcode: </p>
                @Html.ActionLink("Edit Address", "Edit_Address", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>
            <div class="edit">
                <p>Email: </p>
                @Html.ActionLink("Edit Email", "Edit_Email", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>
            <div>
                <p>
                    @Html.ActionLink("Change Current Password", "Change_Password", "User", new { area = "" }, new { @class = " btn btn-primary" }) <!--Lets users change their password. Unlinked-->
                </p>
            </div>
        </div>
    </div>
