@model PetBucket4.Models.Customer


@{
    ViewBag.Title = "Account_Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines page layout-->
}

    <!--New row-->
    <div class="row">
        <!--Main insert-->
        <div class="col-lg-7 large-insert">
            <h1>My Account Details</h1>
            <!--Fields need to be filled with user's info-->
            <div class="edit">
                <p>First Name: @Session["First"]
                </p>
                <p>Surname: @Session["Surname"]</p>
                @Html.ActionLink("Edit Name", "Edit_Name", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>

            <div class="edit">
                <p>Date of Birth: @Session["DOB"]</p>
            </div>

            <div class="edit">
                <p>Home Phone: @Session["HomePh"]</p>
                <p>Mobile Phone: @Session["Mobile"]</p>
                @Html.ActionLink("Edit Mobile Phone", "Edit_Mobile", "User", new { area = "" }, new { @class = " btn btn-primary" })
                @Html.ActionLink("Edit Home Phone", "Edit_HomeP", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>

            <div class="edit">
                <p>Unit No: @Session["UnitNo"] </p>
                <p>Street No: @Session["HouseNo"]</p>
                <p>Street Name: @Session["Street"]</p>
                <p>Suburb/City: @Session["City"]</p>
                <p>State: @Session["State"]</p>
                <p>Postcode: @Session["Postcode"]</p>
                @Html.ActionLink("Edit Address", "Edit_Address", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>

            <div class="edit">
                <p>Email: @Session["Email"]</p>
                @Html.ActionLink("Edit Email", "Edit_Email", "User", new { area = "" }, new { @class = " btn btn-primary" })
            </div>

            <div>
                <p>
                    @Html.ActionLink("Change Current Password", "Change_Password", "User", new { area = "" }, new { @class = " btn btn-primary" }) <!--Lets users change their password. Unlinked-->
                </p>
            </div>
        </div>
    </div>
