@model PetBucket4.Models.Customer

@{
    ViewBag.Title = "Edit_Address";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines page layout-->
}

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>Change Address</h1>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="sub-heading">New Address</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!--Unit Number-->
                <div class="form-group">
                    @Html.LabelFor(model => model.unit_no, "Unit Number", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Label for Unit No field-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.unit_no, new { htmlAttributes = new { @class = "form-control", placeholder = "Unit No." } }) <!--Unit No field-->
                        @Html.ValidationMessageFor(model => model.unit_no, "", new { @class = "text-danger" }) <!--Checks validation of entry-->
                    </div>
                </div>

                <!--Street Number-->
                <div class="form-group">
                    @Html.LabelFor(model => model.house_no, "Street Number", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Label for Street No. field-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.house_no, new { htmlAttributes = new { @class = "form-control", placeholder = "House No." } }) <!--Street No field-->
                        @Html.ValidationMessageFor(model => model.house_no, "", new { @class = "text-danger" }) <!--Checks validation of entry-->
                    </div>
                </div>

                <!--Street Name-->
                <div class="form-group">
                    @Html.LabelFor(model => model.street, "Street", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Label for Street field-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.street, new { htmlAttributes = new { @class = "form-control", placeholder = "Street" } }) <!--Street field-->
                        @Html.ValidationMessageFor(model => model.street, "", new { @class = "text-danger" }) <!--Checks validation of entry-->
                    </div>
                </div>

                <!--City-->
                <div class="form-group">
                    @Html.LabelFor(model => model.city, "City/Suburb", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Label for City field-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } }) <!--City field-->
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" }) <!--Checks validation of entry-->
                    </div>
                </div>

                <!--State-->
                <div class="form-group">
                    @Html.LabelFor(model => model.state, "State", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Label for State field-->
                    <div class="col-md-10">
                        <select name="state">
                            <option value="NSW">NSW</option>
                            <option value="ACT">ACT</option>
                            <option value="VIC">VIC</option>
                            <option value="TAS">TAS</option>
                            <option value="SA">SA</option>
                            <option value="WA">WA</option>
                            <option value="NT">NT</option>
                            <option value="QLD">QLD</option>
                        </select>
                    </div>
                </div>

                <!--Postcode-->
                <div class="form-group">
                    @Html.LabelFor(model => model.postcode, "Postcode", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Label for Postcode field-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.postcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Postcode" } }) <!--Postcode field-->
                        @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" }) <!--Checks validation of entry-->
                    </div>
                </div>

                <!--Submit button-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Changes" class="btn btn-block btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
