@model IEnumerable<PetBucket4.Models.Pet>

@{
    ViewBag.Title = "Your_Pets";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--defines page layout-->
}

<!--Displays all pets currently in PetBucket care based on user-->

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-md-7 insert middle-center">
        <h1>Your Pets</h1>
        <hr />
        <p>View your currently registered pets and register a new pet here.</p>
        <br />
        <!--Displays total pets in PetBucket care based on current user-->
        @foreach (var item in Model)
        {
            <div class="row">
                    <p>
                        @Html.LabelFor(model => model.FirstOrDefault().name, "Pet Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DisplayFor(modelItem => item.name)
                    </p>
                    <p>
                        @Html.LabelFor(model => model.FirstOrDefault().animal, "Pet Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DisplayFor(modelItem => item.animal)
                    </p>
                    <p>
                        @Html.LabelFor(model => model.FirstOrDefault().size, "Size", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DisplayFor(modelItem => item.size)
                    </p>
                    <p>
                        @Html.ActionLink("Visit This Pet", "Pet_Info", "User", new { area = "" }, new { @class = " btn btn-primary b-button" }) <!--Links to Pet_Info page-->
                    </p>
            </div>
        }
        <p>
            @Html.ActionLink("Register New Pet", "Register_Pet", "Booking", new { area = "" }, new { @class = " btn btn-primary" }) <!--Button to Register_Pet page-->
        </p>
    </div>
</div>
