@model PetBucket4.Models.Customer

@{
    ViewBag.Title = "Forgot_Password";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--defines page layout-->
}

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>Forgot Password</h1>
        <p>To recover your password please fill out the following information.</p>
        <br />
        <!--Login handled by form-->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="sub-heading">Recovery</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!--Email Address-->
                <div class="form-group">
                    @Html.LabelFor(model => model.email, "Email Address", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Email address label-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address" } }) <!--Email address field-->
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" }) <!--Checks for blank submission-->
                    </div>
                </div>

                <!--First Name-->
                <div class="form-group">
                    @Html.LabelFor(model => model.first_name, "First Name", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Name label-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } }) <!--Name field-->
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" }) <!--Checks for blank submission-->
                    </div>
                </div>

                <!--Submit button-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change Password" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>