@model PetBucket4.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--defines page layout-->
}

<!--The login page for users-->

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>Login</h1>
        <br />
        <!--Login handled by form-->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="sub-heading">Customer</h2>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 

                <!--Email Address-->
                <div class="form-group">
                    @Html.LabelFor(model => model.email, "Email Address", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Email address label-->
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder="Email Address" } }) <!--Email address field-->
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" }) <!--Checks for blank submission-->
                    </div>
                </div>

                <!--Password-->
                <div class="form-group">
                    @Html.LabelFor(model => model.password, "Password", htmlAttributes: new { @class = "control-label col-md-2" }) <!--Password label-->
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder="Password" } }) <!--Password field-->
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" }) <!--Checks for blank submission-->
                    </div>
                </div>

                <!--Submit button-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }


        <!--Link for unregistered users-->
        <p>Don't have an account? @Html.ActionLink("Click Here", "Register", "Login") to make one!</p>
        <!--Link for forgotten password-->
        <p>@Html.ActionLink("I forgot my password", "Forgot_Password", "Login")</p>
        <!--Link for forgotten email-->
        <p>@Html.ActionLink("I forgot my email", "Forgot_Email", "Login")</p>
    </div>
</div>



