<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetBucket</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="~/Images/dog-in-enamel-bucket(small).png" />
                @Html.ActionLink("PetBucket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) <
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Community", "Community", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("Reviews", "Reviews", "Home")</li>
                </ul>
                <ul class="nav navbar-nav login-list">
                    @if (Session["UserId"] != null)
                    {
                        <li>@Html.ActionLink("My Account", "My_Account", "Home")</li> 
                        <li>@Html.ActionLink("Logout", "LogOut")</li>
                    }
                    else
                    {<li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Home")</li>}
                    
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-collapse collapse">
                    <p class="footer-txt">Connect with us on social media!</p>
                    <ul class="nav navbar-nav footer">
                        <li>@Html.ActionLink("Facebook", "#", "Home", null, new { @class = "logo-fb" })</li>
                        <li>@Html.ActionLink("Instagram", "#", "Home", null, new { @class = "logo-insta" })</li>
                        <li>@Html.ActionLink("Twitter", "#", "Home", null, new { @class = "logo-twit" })</li>
                        <li class="footer-txt">&copy; @DateTime.Now.Year - OOMS Solutions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
